<?xml version="1.0"?>
<config>
    <modules>
        <Bubble_Layer>
            <version>1.3.1</version>
        </Bubble_Layer>
    </modules>
    <global>
        <resources>
            <bubble_layer_setup>
                <setup>
                    <module>Bubble_Layer</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </bubble_layer_setup>
        </resources>
        <blocks>
            <bubble_layer>
                <class>Bubble_Layer_Block</class>
            </bubble_layer>
            <page>
                <rewrite>
                    <html_pager>Bubble_Layer_Block_Page_Html_Pager</html_pager>
                </rewrite>
            </page>
            <catalog>
                <rewrite>
                    <product_list_toolbar>Bubble_Layer_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                    <layer_filter_price>Bubble_Layer_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <bubble_layer>
                <class>Bubble_Layer_Helper</class>
            </bubble_layer>
        </helpers>
        <models>
            <bubble_layer>
                <class>Bubble_Layer_Model</class>
                <resourceModel>bubble_layer_resource</resourceModel>
            </bubble_layer>
            <bubble_layer_resource>
                <class>Bubble_Layer_Model_Resource</class>
            </bubble_layer_resource>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>Bubble_Layer_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_category>Bubble_Layer_Model_Catalog_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_item>Bubble_Layer_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                    <layer_filter_price>Bubble_Layer_Model_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>Bubble_Layer_Model_Resource_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog_resource>
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>Bubble_Layer_Model_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
        </models>
        <events>
            <catalog_entity_attribute_save_after>
                <observers>
                    <bubble_layer>
                        <class>Bubble_Layer_Model_Observer</class>
                        <method>onAttributeSaveAfter</method>
                    </bubble_layer>
                </observers>
            </catalog_entity_attribute_save_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <bubble_layer>
                    <file>bubble/layer.xml</file>
                </bubble_layer>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <bubble_layer>
                        <class>bubble_layer/observer</class>
                        <method>onCoreBlockToHtmlBefore</method>
                    </bubble_layer>
                </observers>
            </core_block_abstract_to_html_before>
            <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <bubble_layer>
                        <class>bubble_layer/observer</class>
                        <method>handleAjaxLayer</method>
                    </bubble_layer>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>
            <controller_action_layout_render_before_catalogsearch_result_index>
                <observers>
                    <bubble_layer>
                        <class>bubble_layer/observer</class>
                        <method>handleAjaxLayer</method>
                    </bubble_layer>
                </observers>
            </controller_action_layout_render_before_catalogsearch_result_index>
            <catalog_product_collection_apply_limitations_after>
                <observers>
                    <bubble_layer>
                        <class>bubble_layer/observer</class>
                        <method>onProductCollectionApplyLimitationsAfter</method>
                    </bubble_layer>
                </observers>
            </catalog_product_collection_apply_limitations_after>
        </events>
    </frontend>
    <default>
        <bubble_layer>
            <general>
                <enable_ajax>0</enable_ajax>
                <enable_auto_scroll>1</enable_auto_scroll>
                <enable_seo>1</enable_seo>
                <items_limit/>
                <enable_price_slider>1</enable_price_slider>
            </general>
        </bubble_layer>
    </default>
</config>