<?xml version="1.0"?>
<config>
    <modules>
        <EM_GoogleFont>
            <version>0.1.0</version>
        </EM_GoogleFont>
    </modules>
	 <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <googlefont>
                                            <title>Image Configure</title>
                                        </googlefont>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
	 <layout>
            <updates>
				<googlefont>
					<file>em_googlefont.xml</file>
				</googlefont>
            </updates>
        </layout>
    </adminhtml>

     <global>
        <models>
            <googlefont>
                <class>EM_GoogleFont_Model</class>
            </googlefont>
        </models>
        <blocks>
            <googlefont>
                <class>EM_GoogleFont_Block</class>
            </googlefont>
        </blocks>
        <helpers>
            <googlefont>
                <class>EM_GoogleFont_Helper</class>
            </googlefont>
        </helpers>
    </global>
	<default>
		<googlefont>
			<googlefont_config>
				<enable_1>1</enable_1>
				<font_1>Numans</font_1>
				<option_1>400</option_1>
				<enable_2>1</enable_2>
				<font_2>Archivo Narrow</font_2>
				<option_2>400</option_2>
				<enable_3>1</enable_3>
				<font_3>Unna</font_3>
				<option_3>400</option_3>
			</googlefont_config>			
		</googlefont>
	</default>
</config>