<?xml version="1.0"?>
<config>
    <modules>
        <EM_Em0072settings>
            <version>0.1.0</version>
        </EM_Em0072settings>
    </modules>
	 <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <em0072>
                                            <title>EM0072 Settings Module</title>
                                        </em0072>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
				<em0072settings>
					<file>em0072settings.xml</file>
				</em0072settings>
            </updates>
        </layout>
		<menu>
			<emthemes translate="title">
				<title>EMThemes</title>
				<sort_order>72</sort_order>
				<children>
					<em0072_setting module="em0072settings" translate="title">
						<title>EM0072 Fashionist Settings</title>
						<sort_order>10</sort_order>
						<action>adminhtml/system_config/edit/section/em0072/</action>
					</em0072_setting>
					<help module="em0072settings" translate="title">
						<title>Help &amp; Support</title>
						<sort_order>200</sort_order>
						<children>
							<em0072_userguide module="em0072settings" translate="title">
								<title>EM Fashionist User Guide</title>
								<sort_order>10</sort_order>
								<action>adminhtml/em0072settings_link/userguide/</action>
							</em0072_userguide>
							<forum module="em0072settings" translate="title">
								<title>Community Forum</title>
								<sort_order>20</sort_order>
								<action>adminhtml/em0072settings_link/gotoforum/</action>
							</forum>
							<ticket module="em0072settings" translate="title">
								<title>Submit a Support Ticket</title>
								<sort_order>30</sort_order>
								<action>adminhtml/em0072settings_link/submitticket/</action>
							</ticket>
						</children>
					</help>
					<more module="em0072settings" translate="title">
						<title>More...</title>
						<sort_order>210</sort_order>
						<children>
							<customization module="em0072settings" translate="title">
								<title>I need theme customization</title>
								<sort_order>10</sort_order>
								<action>adminhtml/em0072settings_link/service_customization/</action>
							</customization>
							<design module="em0072settings" translate="title">
								<title>I need custom design</title>
								<sort_order>20</sort_order>
								<action>adminhtml/em0072settings_link/service_design/</action>
							</design>
							<dev module="em0072settings" translate="title">
								<title>Extension Development</title>
								<sort_order>30</sort_order>
								<action>adminhtml/em0072settings_link/service_extdev/</action>
							</dev>
							<boost module="em0072settings" translate="title">
								<title>Speed Optimization</title>
								<sort_order>40</sort_order>
								<action>adminhtml/em0072settings_link/service_boost/</action>
							</boost>
							<more module="em0072settings" translate="title">
								<title>More...</title>
								<sort_order>60</sort_order>
								<action>adminhtml/em0072settings_link/service_more/</action>
							</more>
						</children>
					</more>
				</children>
			</emthemes>
		</menu>
    </adminhtml>

    <frontend>
        <routers>
            <em0072settings>
                <use>standard</use>
                <args>
                    <module>EM_Em0072settings</module>
                    <frontName>em0072settings</frontName>
                </args>
            </em0072settings>
        </routers>
        <layout>
            <updates>
                <em0072settings>
                    <file>em0072settings.xml</file>
                </em0072settings>
            </updates>
        </layout>
		<events>
    		<controller_action_layout_generate_blocks_before>
    			<observers>
    				<tensite.config_after_save>
    					<class>EM_Em0072settings_Model_Observer</class>
    					<method>beforeGenerateBlocks</method> 
    				</tensite.config_after_save>
    			</observers>
    		</controller_action_layout_generate_blocks_before>		
			<catalog_product_collection_load_before>
    			<observers>
    				<em0047settings>
    					<class>EM_Em0072settings_Model_Observer</class>
    					<method>beforeCatalogProductCollectionLoad</method> 
    				</em0047settings>
    			</observers>
    		</catalog_product_collection_load_before>
    	</events>
    </frontend>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<em0072settings before="Mage_Adminhtml">EM_Em0072settings_Adminhtml</em0072settings>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<EM_Em0072settings>
							<title>em0072settings Module</title>
							<sort_order>10</sort_order>
						</EM_Em0072settings>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<em0072settings>
					<file>em0072settings.xml</file>
				</em0072settings>
			</updates>
		</layout>
        <events>
    		<controller_action_postdispatch_adminhtml_system_config_save>
    			<observers>
    				<config_after_save>
    					<class>EM_Em0072settings_Model_Observer</class>
    					<method>afterConfigSave</method> 
    				</config_after_save>
    			</observers>
    		</controller_action_postdispatch_adminhtml_system_config_save>		
    	</events> 
    </adminhtml>
    
    <global>
        <models>
            <em0072settings>
                <class>EM_Em0072settings_Model</class>
                <resourceModel>em0072settings_mysql4</resourceModel>
            </em0072settings>
            <em0072settings_mysql4>
                <class>EM_Em0072settings_Model_Mysql4</class>
                <entities>
                    <em0072settings>
                        <table>em0072settings</table>
                    </em0072settings>
					<megamenupro>
                        <table>megamenupro</table>
                    </megamenupro>
                    <media>
                        <table>em_slideshow2_media</table>
                    </media>
					<slider>
                        <table>em_slideshow2_slider</table>
                    </slider>
                </entities>
            </em0072settings_mysql4>
        </models>
        <resources>
            <em0072settings_setup>
                <setup>
                    <module>EM_Em0072settings</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </em0072settings_setup>
            <em0072settings_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </em0072settings_write>
            <em0072settings_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </em0072settings_read>
        </resources>
        <blocks>
            <em0072settings>
                <class>EM_Em0072settings_Block</class>
            </em0072settings>
        </blocks>
        <helpers>
            <em0072settings>
                <class>EM_Em0072settings_Helper</class>
            </em0072settings>
			<catalog>
				<rewrite>
					<image>EM_Em0072settings_Helper_CatalogImage</image>
				</rewrite>
			</catalog>
        </helpers>
    </global>
	<default>
		<em0072>
			<general>
				<disable_default_nav>0</disable_default_nav>
				<freezed_top_menu>0</freezed_top_menu>
				<disable_frontend_variation>1</disable_frontend_variation>
				<disable_footer_links>0</disable_footer_links>
				<image_bgcolor></image_bgcolor>
			</general>
			<typography>
				<general_color></general_color>
				<general_color_2></general_color_2>
				<primary_color></primary_color>
				<secondary_color></secondary_color>
				<secondary_color_2></secondary_color_2>
				<negative_color></negative_color>
				<negative_color_2></negative_color_2>
				<line_color></line_color>
				<line_secondary_color></line_secondary_color>
				<line_third_color></line_third_color>
				<line_fourth_color></line_fourth_color>
				<primary_bgcolor></primary_bgcolor>
				<secondary_bgcolor></secondary_bgcolor>
				<third_bgcolor></third_bgcolor>
				<button1></button1>
				<button2></button2>
				<button3></button3>
				<page_bg_image></page_bg_image>
				<box_shadow></box_shadow>
				<google_fonts>Open Sans</google_fonts>
				<general_font></general_font>
				<h1_font></h1_font>
				<h2_font></h2_font>
				<h3_font></h3_font>
				<h4_font></h4_font>
				<h5_font></h5_font>
				<additional_css_file></additional_css_file>
				<rounded_corner></rounded_corner>
			</typography>
			<products_grid>
				<width>158</width>
				<height>230</height>
				<show_product_name>1</show_product_name>
				<show_sku>0</show_sku>
			    <show_thumbnail>1</show_thumbnail>
				<alt_img></alt_img>
			    <show_desc>0</show_desc>
			    <show_price>1</show_price>
			    <show_reviews>1</show_reviews>
			    <show_saleables>1</show_saleables>
			    <show_addtocart>1</show_addtocart>
			    <show_addto>1</show_addto>
			    <show_label>1</show_label>
			</products_grid>
			<products_list>
				<width>170</width>
				<height>239</height>
				<show_product_name>1</show_product_name>
				<show_sku>0</show_sku>
				<show_thumbnail>1</show_thumbnail>
				<alt_img></alt_img>
				<show_desc>0</show_desc>
				<show_price>1</show_price>
				<show_reviews>1</show_reviews>
				<show_saleables>1</show_saleables>
				<show_addtocart>1</show_addtocart>
				<show_addto>1</show_addto>
				<show_label>1</show_label>
			</products_list>
			<image_product>
				<base_image_width>313</base_image_width>
                <base_image_height>440</base_image_height>
                <thumb_base_width>119</thumb_base_width>
				<thumb_base_height>167</thumb_base_height>
				<viewmode></viewmode>
				<!--cloud_zoom_enable>1</cloud_zoom_enable-->
				<cloud_zoom_width></cloud_zoom_width>
				<cloud_zoom_height></cloud_zoom_height>
				<use_tabs>1</use_tabs>
			</image_product>
			<related>
				<width>76</width>
				<height>107</height>
				<classcustom></classcustom>
			</related>
			<crosssell>
				<width>178</width>
				<height>248</height>
				<classcustom></classcustom>
			</crosssell>
			<upsell>
				<width>178</width>
				<height>248</height>
				<classcustom></classcustom>
			</upsell>
            <!-- <image_widget>
                <widget_width>200</widget_width>
				<widget_height>170</widget_height>
            </image_widget> -->
            <image_sidebar>
                <sidebar_width>76</sidebar_width>
                <sidebar_height>107</sidebar_height>
            </image_sidebar>
            <image_shopping_cart>
                <shopping_cart_width>72</shopping_cart_width>
				<shopping_cart_height>101</shopping_cart_height>
			</image_shopping_cart>
			<ajaxcart>
				<auto_close>0</auto_close>
			</ajaxcart>
		</em0072>
	</default>
</config>